<div class="content three_quarter">
  <div class="box bg-light clear">
    <h3 class="font-x2" id="head-name">Demos - Main</h3>
    <p id="file_p" style="display:none;">File: <a href="#" id="a_file"></a><input type="file" id="select_file" (change)="uploadFile($event)" />
    </p>
    <div id="description">
      <p>&lt;-- Select one of demos on left side</p>
    </div>
  </div>
  <p id="resolte-text" style="display:none">Resolte:</p>
  <!--<div id="resolte-contaniner" style="display:none;"></div>-->
  <div style="overflow: hidden;width: 800px; ">
    <div id="resolte-contaniner" style="width: 100%; height:550px; overflow: auto;"></div>
  </div>
  </div>